body{
    margin: 0;
    font-family:  Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.5;
    background-image: url("img/bg.jpg");
    background-attachment: fixed;
    height: 100%;
    min-height: 900;
}

html{
    position: relative;
    min-height: 100%;
}

.page{
    width: 800px;
    margin:  auto;

}

.header{
        background-color: rgb(0, 0, 0);
}

.header-title{
    padding: 20px;
    font-size: 24px;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 400px;

}

.header-subtitle{
    padding: 20px;
    margin: 0;
    font-size: 16px;
    color: rgb(0, 183, 255);
    text-align: left;
    font-weight: 400;
}

.nav{
    text-align: center;
}

.nav-link{
    display: inline-block;
    padding: 8px  12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

.nav-link:hover{
    background-color: rgba(53, 53, 77, 0.335);
}

.nav-link-active{
    display: inline-block;
    padding: 8px  12px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    background-color: rgba(0, 255, 255, 0.678);
}



.content-about-title{
    padding-left: 0;
    font-size: 24px;
    margin: 0 0 15px 0;
    color:#ffffff ;
}

.content-text{
    margin-bottom: 20px;
    padding-left: 20px;
}

.read-more{
    color: cyan;
    text-decoration: none;
    padding-left: 20px;
}

.read-more:hover{
    text-decoration: underline;
}

.content-news-title{

    margin-top: 20px;
    font-size: 24px;
}

.article-title{
    margin: 0 0 15px 0;
font-size: 18px;
color: violet;
}

.article{
    padding-top: 10px;
    margin-bottom: 15px;
}


.link-read-more{
    padding-left: 20px;
    text-decoration: none;
    color: cyan;

}
.link-read-more:hover{
    text-decoration: underline;
}

.article-date{
    font-size: 12px;
    color: #ccc;
}

.article-text{


    padding: 0 0 15px 20px;
}


.news-read-more{
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.article-title a{
    margin: 0 0 15px 0;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.article-title a:hover{
    text-decoration: underline;
}

.footer{
    
    padding: 20px 0;
    background-color: #000000;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 800px;
}

.to-home{
    text-decoration: none;
    color: cyan;
    padding: 15px;
    margin-top: 15px;

}

.to-home:hover{
    text-decoration: underline;
}

.border{
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.download-link{
    text-decoration: none;
    color: cyan;
    padding: 15px;
    margin-top: 15px;
}

.download{
    padding-top: 15px;
}


.reg-form{
    margin: auto;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 50px;
}

.reg{
    width: 577px;
    margin: auto;
    align-items: center;
    text-align: center;
    background-image: url("img/reg-bg.jpg");
    border: 5px solid black;
}

input{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: cyan;
    border: 2px solid rgb(0, 60, 255);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

input:hover{
    background-color: rgb(0, 153, 255);
    border-color: darkblue;
}

input:focus{
    background-color: rgb(0, 153, 255);
    border-color: darkblue;
}

.btn{
    margin-bottom: 15px;
    width: 150px;
    height: 25px;
    background-color: #ffffff91;

}

.btn:hover{
    background-color: #ffffff;
    border-color: rgba(155, 155, 155, 0.274);
}

.btn:focus{
    margin-bottom: 15px;
    width: 150px;
    height: 25px;
    background-color: #ffffff91;
}

.btn-text{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.btn-text:visited{
    margin-bottom: 15px;
    width: 150px;
    height: 25px;
    text-decoration: none;
    background-color: #ffffff91;
}

::placeholder{
color: black;
}





.reg-icon{
    width: 25px;
    height: auto;
    margin-left: 750px;
    margin-top: 0;
}








